<!-- this is the parent of html files -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    {% block head%} {%end block%}
</head>

<body>
    {% block body %} {% endblock %}

    <footer>
    <p>© 2025 Medical Records System</p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>