{% extends "auth_base.html" %}
    
{% block content %}
    
    <div class="top-bar">
        <h1>CONSULTATION RECORDS</h1>
        <label for="search">Search<input type="search" name="search" placeholder="search"></label>
        <div class="top-bar2"><p>Add</p>
            <p>Edit</p>
            <p>Delete</p>
        </div>
    </div>
    <table>
        <tr>
            <td>Date & Time</td>
            <td>Name</td>
            <td>Complaints</td>
            <td>Findings</td>
            <td>Treatment</td>
            <td>Recommended Pescription</td>
            <td>Doctor name</td>
            <td>Clinic/ Hospital Name</td>
            <td>Doctor Notes</td>
        </tr>
    </table>
    <div>
        
    </div>
        
    
   
    
{%endblock%}